body {
    text-align: center;
    margin: 10px;
}

/* Login Modal */
#login-form {
    width: 100%;
}

#login-form-div {
    width: 100%;
}

#login-ip-txt-div {
    width: 100%;
}

#login-name-txt-div {
    margin-top: 10px;
    width: 100%;
}

#login-txt {
    width: 100%;
}

#ip-txt {
    width: 100%;
}

#login-btn-div {
    width: 20%;
    margin: 10px auto auto auto;
}

#login-btn {
}

/* Settings Modal */
#settings-form {
    width: 100%;
    margin-bottom: 10px;
}

#settings-form-div {
    display: flex;
    width: 100%;
}

#settings-txt-div {
    flex: 1;
}

#settings-txt {
    width: 100%;
}

#settings-btn-div {
    flex-basis: 80px;
    flex-grow: 0;
}

#settings-btn {
    margin-left: 10px;
    width: calc(100% - 10px);
}


/* Application Layout */
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app-messages {
    flex-grow: 1;
    text-align: left;
}

#app-form {
    margin-top: 10px;
    flex-grow: 0;
}

/* Messages */


/* Send Message Form */
form {
    margin: 0;
}

#send-form {
    display: flex;
    width: 100%;
}

#send-settings-div {
    flex-basis: 48px;
    flex-grow: 0;
}

#send-settings {
    margin-right: 10px;
    height: 100%;
}

#send-txt-div {
    flex: 1;
}

#send-txt {
    width: 100%;
}

#send-btn-div {
    flex-basis: 80px;
    flex-grow: 0;
}

#send-btn {
    margin-left: 10px;
    width: calc(100% - 10px);
}
